doctype html
html
  body
    div(class="w3-display-middle")
      form(action = '/process_post' method = "GET")
         label First Name: 
         input(type = "text" name = "first_name")
         br
         input(type = "submit" value = "Submit")
