doctype html
html
  body
      form(action = "/process_post" method = "POST")
         label First Name: 
         input(type = "text" name = "first_name")
         br
         label Last Name: 
         input(type = "text" name = "last_name")
         input(type = "submit" value = "Submit")