extends layout
block content
  div(class="bgimg-1 w3-display-container" id="pokechat")
    div(id="Chat-box" class="chat-box w3-display-middle")
      div(id="external" class="red-part")
        h1(class="w3-center") Pokechat
        div(id="internal" class="gray-part ")
          div(id="chat-text" class="bgimg-2 text-area pre-scrolleable")
        div(id="inputs" class="chat-input")
          input(id="input-data" class="text-input")
          input(id="input-submit" type="submit" onclick="Call_AI()" class="submit-input")
  script(src="/javascripts/call.js")
