.chat-box{
  width: 800px;
  height: 480px;
  border: 25px;
  border-radius: 15px;
  margin: 25;
}

.red-part{
  background-color: red;
  width: 800px;
  height: 480px;
  border: 25px;
  border-radius: 15px;
  padding: 0px 25px 25px 25px;
}

.gray-part{
  background-color: gray;
  width: 700px;
  height: 350px;
  border: 25px;
  border-radius: 15px 15px 15px 150px ;
  padding: 25px;
  margin: 0px 25px 0px 25px;
}

.text-area{
  background-color: white;
  width: 600px;
  height: 230px;
  border: 25px;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
}

.chat-input{
  background-color: #cc0000;
  width: 700px;
  height: 45px;
  border-radius: 15px;
  margin: 10px 25px 25px 25px;
}

.text-input{
  width: 600px;
  height: 25px;
  margin: 10px;
}

.submit-input{
  width: 70px;
  height: 25px;
  border-radius: 10px;
}
